{% extends 'base.html.twig' %}


{% block title %}Recuperar Contrase単a{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forgotPassword.css') }}">
{% endblock %}



{% block body %}
<div class="container-recuperar-contrase単a">
    <h1>Recuperar Contrase単a</h1>
    <p>Por favor, introduce el email asociado a tu cuenta.</p>

    {# Mostrar mensajes flash #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(requestForm, {'action': path('recuperar_password'), 'method': 'POST'}) }}
        <div class="form-group">
            {{ form_widget(requestForm.email, {'attr': {'class': 'form-control form-control-lg'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Recuperar contrase単a</button>
    {{ form_end(requestForm) }}
</div>

{% endblock %}

