{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}


{% block body %}
<form method="post" action="{{ path('app_login') }}" class="form-signin">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Estás logueado como {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Salir</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Contraseña">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

     <p class="mb-1 text-left">
        <a href="{{ path('recuperar_password') }}">¿Olvidaste tu contraseña?</a>
    </p>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Recordarme
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Entrar
    </button>

   
    <p class="mt-1">
        ¿No tienes una cuenta? <a href="{{ path('app_registro') }}">Regístrate aquí.</a>
    </p>
</form>

{% endblock %}