{% extends 'base.html.twig' %}

{% block title %}Formulario de Contacto{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/contacto.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>FORMULARIO DE CONTACTO</h1>
    
    <div class="form-container">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nombre) }}
                {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.telefono) }}
                {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.mensaje) }}
                {{ form_widget(form.mensaje, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        {{ form_end(form) }}
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>

{% endblock %}

