<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
     {% if app.user %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_inicio') }}">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'admin_dashboard' %}active{% endif %}" href="{{ path('admin_dashboard') }}">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'admin_usuarios' %}active{% endif %}" href="{{ path('admin_usuarios') }}">Usuarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'admin_medicos' %}active{% endif %}" href="{{ path('admin_medicos') }}">Médicos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'admin_especialidades' %}active{% endif %}" href="{{ path('admin_especialidades') }}">Especialidades</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'app_usuario_perfil' %}active{% endif %}" href="{{ path('app_usuario_perfil') }}">Mi perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'app_cita_online' %}active{% endif %}" href="{{ path('app_cita_online') }}">Cita Online</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'app_gestiona_citas' %}active{% endif %}" href="{{ path('app_gestiona_citas') }}">Gestiona</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.get('_route') == 'app_contacto' %}active{% endif %}" href="{{ path('app_contacto') }}">Contacta</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'app_logout' %}active{% endif %}" href="{{ path('app_logout') }}">Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}


 <div class="container mt-4">
        {% block body %}{% endblock %}
 </div>

 
    </body>
</html>
