{% extends 'base.html.twig' %}

{% block title %}Cita Confirmada{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/succes.css') }}">
{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="success-container">
        <h2 class="title">SU CITA SE HA REGISTRADO CON ÉXITO</h2>

        <div class="ticket-box">
            <p>{{ app.user.nombre }} {{ app.user.apellidos }}</p>
            <p>Cita: {{ especialidad.nombre }}</p>
            <p>Médico: {{ medico.nombre }} {{ medico.apellidos }}</p>
            <p>{{ fechaHora|date('d/m/Y H:i') }}</p>
        </div>

        <div class="buttons">
            <a href="{{ path('app_inicio') }}" class="btn btn-primary">Volver al inicio</a>
            <button id="downloadBtn" class="btn btn-primary">Descargar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var downloadBtn = document.getElementById("downloadBtn");
            
            if (downloadBtn) {
                downloadBtn.addEventListener("click", function() {
                    var { jsPDF } = window.jspdf;
                    var doc = new jsPDF();

                    // extrae los detalles de la cita
                    var details = document.querySelector(".ticket-box").innerText.split('\n');
                    var y = 10; 

                    // añadir al PDF
                    details.forEach(function(detail, index) {
                        doc.text(detail, 10, y);
                        y += 10; 
                    });

                    // descarga el pdf
                    doc.save("cita.pdf");
                });
            }
        });
    </script>
{% endblock %}




